<div class="bg-second py-8 absolute inset-x-0 bottom-0 text-center">
    <div class="container mx-auto">
      <%= link_to 'ADD NEW CATEGORY', new_group_path, class: "text-center text-white py-4 px-24
     font-proxima border-2 border-bg-white rounded-lg cursor-pointer" %>
    </div>
</div>
