<nav class="bg-main py-4 px-4">
    <ul class="flex justify-between items-center container mx-auto">
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-arrow-left text-white cursor-pointer"></i>
        <%end%>
      </li>
      <li>
        <p class="text-white font-proxima">CATEGORY</p>
      </li>
      <li>
        <i class="fa fa-search text-white cursor-pointer"></i>
      </li>
    </ul>
  </nav>
