<section class="h-screen bg-back relative">
    <nav class="bg-main py-4 px-4">
        <ul class="flex justify-between items-center">
          <li>
            <%= link_to groups_path do %>
            <i class="fa fa-arrow-left text-white cursor-pointer"></i>
            <%end%>
          </li>
          <li>
            <p class="text-white font-proxima">EDIT CATEGORY</p>
          </li>
          <li>
            <%= link_to groups_path do %>
            <i class="fa fa-bars text-white cursor-pointer"></i>
            <%end%>
          </li>
        </ul>
    </nav>
    
    <%= render 'form', group: @group %>
</section>
