<h1 class="font-bold text-4xl text-center text-red-500">Parrotscan</h1>

<%= link_to "Login",new_user_session_path %>

<%= link_to "Signup",new_user_registration_path %>

<% if user_signed_in? %>
<li>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</li>
<li>
    <button >Hello <%= current_user.name %></button>
</li>
<% end %>
